* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    margin-bottom: 20px;
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

span{
    padding: 10px;
    background-color: #3b5998;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.texto{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 100px;
}